::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}
::-webkit-scrollbar-track {
    background: #6F7789; 
}
::-webkit-scrollbar-thumb {
    background: #DDE9FB; 
    border-radius: 8px;
    border: 4px solid #6F7789;
}
::-webkit-scrollbar-thumb:hover {
    background: #B1CDF6;
    cursor: pointer;
}
::selection {
    background-color: #F9CA7F;
    color: #212121; 
}



body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E3E6F4;
    margin: 0px;
}
html {
    scroll-behavior: smooth;
}
#header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    backdrop-filter: blur(8px);
    justify-content: space-evenly;
    align-items: center;
    height: 56px;
    width: 100%;
    background-color: rgba(0, 4, 21, 0.5);
    box-sizing: border-box;
}
#photo {
    background-image: url(images/Icons/profile_photo.png);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-size: 100%;
    background-position: center;
    user-select: none;
    transition: background-size 0.5s ease;
}
#photo:hover {
    background-size: 120%;
}
#logo {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
#navigation {
    display: flex;
    align-items: center;
    gap: 48px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.infoWrapper {
    display: flex;
    gap: 8px;
}
#content {
    padding-top: 68px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
}
#contentBlock {
    border-radius: 16px;
    background-color: #fff;
    height: auto;
    box-sizing: border-box;
    margin: 0px 12px;
}
.blockHeader {
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    padding: 6px 24px;
    background-color: #F9CA7F;
    color: #212121;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 20px;
}
.case {
    padding: 24px 0px 92px 0px;
}
.case:last-child {
    padding: 24px 0px 72px 0px;
}
.titleBox {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 24px;
    font-weight: bold;
    font-size: 20px;
    color: #212121;
}
.titleText {
    max-width: 80%;
    padding-right: 12px;
}
.caseNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background-color: #F9CA7F;
}
.infoBox {
    padding: 0px 72px;
    color: #212121;
    max-width: 920px;
    box-sizing: border-box;
}
.infoTitle {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
}
.infoStory {
    font-weight: 500;
    font-size: 16px;
    white-space: pre-line;
}
.infoStory::after {
    content: attr(data-text);
    display: block; 
}
.infoStoryWrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
img {
    user-select: none;
}



.sliderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
}
.navWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 8px 0px 24px 0px;
}
.slider-container {
    position: relative;
    border: 2px solid #EBEBEB;
    max-width: 840px;
    overflow: hidden;
    border-radius: 16px;
    user-select: none;
    margin: 0 8px;
}
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    pointer-events: none;
}
button {
    font-size: 20px;
    background-color: #FEF0D9;
    border: none;
    height: 32px;
    width: 32px;
    cursor: pointer;
    z-index: 10;
    border-radius: 8px;
    user-select: none;
    transition: background-color 0.3s ease;
    transition: opacity 0.15s ease;
    background-position: center;
    background-repeat: no-repeat;
}
button:hover {
    background-color: #FCE5C0;
}
button:active {
    opacity: 0.8;
}
.prev {
    background-image: url(images/Icons/arrow_left.svg);
}
.next {
    background-image: url(images/Icons/arrow_right.svg);
}
.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    user-select: none;
}
.dot {
    height: 12px;
    width: 12px;
    background-color: #CDCDCD;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.dot:hover {
    background-color: #4E4E4E;
}
.active {
    background-color: #4E4E4E;
}
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 4, 21, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    backdrop-filter: blur(8px);
    background-image: url(images/Icons/arrow_up.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.scroll-to-top:hover {
    background-color: rgba(0, 4, 21, 0.6);
}




@media (max-width: 1200px) {
    #header {
        justify-content: space-between;
        gap: 0px;
        padding: 0 12px;
    }
}
@media (max-width: 700px) {
    #logo {
        font-size: 14px;
    }
    #navigation {
        font-size: 12px;
        gap: 24px;
    }
    .infoTitle {
        font-size: 16px;
    }
    .infoStory {
        font-size: 12px;
    }
    .titleBox {
        font-size: 16px;
    }
    .blockHeader {
        font-size: 16px;
        border-radius: 12px 12px 0 0;
    }
    .dot {
        height: 10px;
        width: 10px;
    }
    #photo {
        height: 36px;
        width: 36px;
    }
}
@media (max-width: 600px) {
    .infoBox {
        padding: 0 24px;
    }
    .infoTitle {
        font-size: 14px;
    }
    .titleBox {
        padding-left: 12px;
        gap: 8px;
    }
    .caseNumber {
        height: 24px;
        width: 24px;
    }
    .blockHeader {
        padding: 6px 12px;
        font-size: 14px;
    }
    .titleBox {
        font-size: 14px;
    }
    .case {
        padding: 12px 0 72px 0;
    }
    .case:last-child {
        padding: 24px 0px 48px 0px;
    }
    .sliderWrapper {
        margin-top: 12px;
    }
    #content {
        padding-top: 64px;
    }
    #contentBlock {
        margin: 0 8px;
    }
    .scroll-to-top {
        height: 40px;
        width: 40px;
    }
    #logo {
        font-size: 12px;
        gap: 8px;
    }
    .infoWrapper:first-child {
        display: none;
    }
    .slider-container {
        border-radius: 8px;
    }
}
